:root {
    --fondo: #F1EBDD;
    --cuadro: #94B7BB;
    --botones: #B9D5DA;
    --otro: #C2CBD5;
}


body {
    margin: 0;
    background-color: var(--fondo);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding: 0 20px;
}

.c-nombre {
    background-color: var(--cuadro);
    border-radius: 0 0 6px 6px;
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 30px;
    padding: 10px 20px 5px;
    margin-left: 25px;
    position: relative;
    z-index: 2;
  
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    position: relative;
    margin-top: 10px;
}

.elementos {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.boton {
    font-family: "Righteous", sans-serif;
    background-color: var(--botones);
    padding: 10px 15px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
}

.linea {
    height: 3px;
    background-color: var(--botones);
    width: 100%;
    top: 5px;
    z-index: 1;
    position: absolute;
}

footer{
    height: 200px;
    background-color: var(--cuadro);
    font-family: "Righteous", sans-serif;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
}

.footer-izquierda, .footer-centro, .footer-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-izquierda a {
    color: white;
    text-decoration: none;
}

.iconos-contacto {
    display: flex;
    gap: 20px;
}

.footer-izquierda a:hover, svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}


