:root {
    --fondo: #F1EBDD;
    --cuadro: #94B7BB;
    --hover: #81c4d0;
    --otro: #C2CBD5;
}


body {
    margin: 0;
    background-color: var(--fondo);
    font-family: "Righteous", sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 0 20px;
    height: 70px;
    border-bottom: 4px solid var(--cuadro);
}

.c-nombre {
    background-color: var(--cuadro);
    border-radius: 0 0 6px 6px;
    border: 2px solid white;
    border-top: none;
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 30px;
    padding: 10px 20px 5px;
    margin-left: 25px;
    position: relative;
    z-index: 2;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    flex-grow: 1;
    position: relative;
    margin-top: 10px;
}

.elementos {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.boton {
    background-color: var(--cuadro);
    padding: 10px 15px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

.boton:hover {
    transform: scale(1.05);
    background-color: var(--hover);
}
.inicio {
    padding-bottom: 30px;
}

.info-inicio {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 40px;
}

.iconos-inicio {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 50px;
    margin-top: 20px;
}

.contenedor-acerca {
    background-color: var(--cuadro);
    width:600px;
    height: 200px;
    padding: 30px;
    border-radius: 30px;
    margin: 40px auto;
}

.encabezado-acerca, .parrafo-acerca {
    text-align: center;
}

.encabezado-acerca {
    font-weight: bold;
    color: white;
}

.acerca-de-mi, .proyectos, .inicio, .CV{
    border-bottom: 2px solid var(--cuadro);
}

.contenedor-proyectos {
    max-width: 900px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carrusel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.flecha {
    background-color: transparent;
    border:none;
    transition: background 0.3s;
}

.proyectos-wrapper {
    flex: 1;
    overflow: hidden;
}

.proyectos-lista {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease;
}

.proyecto-btn {
    min-width: 150px;
    padding: 12px;
    border: 2px solid var(--cuadro);
    background: var(--otro);
    border-radius: 10px;
    transition: background 0.3s;
}

.proyecto-btn:hover {
    background-color: var(--hover);
}

.proyecto-btn.activo {
    background-color: var(--cuadro);
    font-weight: bold;
}

.descripcion-proyecto {
    background-color: var(--otro);
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 4px 4px 6px var(--cuadro);
}

.descripcion img {
    max-width: 100%;
    border-radius: 6px;
}

.descripcion p {
    margin-top: 10px;
    line-height: 1.4;
}

.oculto {
    display: none;
}

.encabezado-conocimientos, .titulo-blog, .titulo-proyectos {
    font-weight: bold;
    padding: 30px 0;
    text-align: center;
}

.conocimientos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.html, .css, .javascript, .java, .python {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lenguaje {
    font-weight: bold;
}

.titulo-blog {

}

.contenedor-blog {
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.entradas {
    background-color: var(--cuadro);
    height: 80px;
    width: 100px;
    border-radius: 10px;
}
footer{
    height: 200px;
    background-color: var(--cuadro);
    
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid white;
}

.footer-izquierda, .footer-centro, .footer-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-izquierda a {
    color: white;
    text-decoration: none;
}

.iconos-contacto {
    display: flex;
    gap: 20px;
}

.footer-izquierda a:hover, svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media(max-width:768px){
    
}

